#container{
  margin:auto;
  width:950px;

}

body{
  background-image:url('star2.jpg');
  background-repeat:no-repeat;
  background-size:200%

}
#header{
  padding:30px 0px;
  font-family:gabriola;
  font-size:30px;
  text-align:center;
  font-weight:bold;
  color:white;
  background-image:url("kimi3.gif");
  background-repeat:no-repeat;
  height:50px;
  background-size:cover;
}

#nav{
  background-image:linear-gradient(blue,darkblue);
  padding:12px 16px;
  overflow:hidden;
  text-align:center;
}

#nav a{
  color:white;
  padding:20px 21px;
  text-decoration:none;
}

#nav a:hover{
  background-image:linear-gradient(yellow,gold,goldenrod,darkgoldenrod);
  color:black;
}


.formu{
  color:white;
}
#footer{
  text-align:center;
  color:white;
  clear:both;
  margin-top:135px;
  width:950px;
  position:absolute;
  padding:2px 0px;
}

legend{
  color:goldenrod;
  font-weight:bold;
  font-family:Castellar Regular;
}

input:hover{
  background-color:#a8e2e6
}


form{
  width:600px;
  margin:auto;
}

fieldset{
  border-style:outside;
  border-width:5px;
  border-color:goldenrod;
}

.bt{
  background-image:linear-gradient(blue,#3090b0,darkblue);
  border:none;
  color:white;
  font-family:calibri;
  font-size:15px;
  border-radius:20px;
  cursor:pointer;
  box-shadow:2px 4px 5px blue,5px 9px 3px darkblue;
}

.bt:hover{
  background-image:linear-gradient(yellow,gold,goldenrod,darkgoldenrod);
  color:black;
}